@charset "UTF-8";
.contents .profile{
    width: 24.5%;
    float: left;
    height: 95%;
    background: #fff;
    border-radius: 10px;
    border: 0.5px solid #999;
}
.contents .profile{
    width: 24.5%;
    float: left;
    height: 95%;
    background: #fff;
    border-radius: 10px;
    border: 0.5px solid #999;
}
.contents .profile .imgBox{
    padding: 20px 60px;
    border-bottom: 2px dotted #d9d9d9;
}
.contents .profile .todoList{
    padding: 10px;
    height: 180px;
    border-bottom: 2px dotted #d9d9d9;
}
.contents .profile .todoList li{
    margin-top: 10px;
}
.contents .profile .todoList li.complete{
    text-decoration: line-through;
    color: #999;
}
.contents .profile .infoBox{
    padding: 10px;
}
.contents .profile .infoBox .info01 .name{
    color: #2f537f;
    font-size: 1.4em;
    font-weight: bold;
}
.contents .profile .infoBox .info02 .mail{
    color: #ff9b7c;
}
.contents .profile .infoBox .info03 a.logout{
    display: inline-block;
    color: #f00; 
}
.contents .profile .infoBox .info03 a.mypage{
    display: inline-block;
    color: #2f537f; 
    margin-left: 10px;
}
.contents .items{
    width: 74.5%;
    float: right;
    box-shadow: 2px 2px #aaa;
    height: 95%;
    background: #fff;
    border-radius: 10px;
    border: 0.5px solid #999;
    padding: 10px 20px 10px 30px;
}