@charset "UTF-8";
#wrap.login{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #000;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.coverTop{
    background: #fff;
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
}
.coverBottom{
    background: #fff;
    position: absolute;
    width:100%;
    height: 50vh;
    bottom: 0;
    left: 0
}
#loading{
    position: absolute;
    top: 43.4vh;
    text-align: center;
    width: 100%;
}
#loading h3{
    font-size: 2em;
    font-weight: bold;
    position: relative;
    z-index: 15;
}
#loading .loadingBar{
    width: 300px;
    height: 2px;
    display: inline-block;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
#loading .loadingBar::before{
    position: absolute;
    width: 0;
    top: 0;
    content:'';
    display: block;
    background: #000;
}
#loading .loadingBar.ani:after{
    position: absolute;
    width: 100%;
    top: 0;
    left: -100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 82%);
    content:'';
    display: block;
    border-radius: 10px;
    animation: loading 1s infinite ease-in-out;
}
@keyframes loading{
    0%{
       left: -100%; 
    }
    100%{
        left: 100%;
    }
}
#login{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 50%;
    padding: 200px 80px 0;
    top: 30vh;
    opacity: 0;
    box-shadow: 5px 5px 5px rgba(33,33,33,0.5);
    border: 3px dashed #acd2dd;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    z-index: 10;
    background: rgba(255,255,255,1);
}
#login form{
    width: 100%;
}
#login input{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.5s;
}
#login input + input{
    margin-top: 10px;
}
#login a.loginBtn{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    background: #333;
    line-height: 40px;
    margin-top: 50px;
}
#login .btnBox{
    text-align: center;
    margin-top: 20px;
}
#login .btnBox a{
    display: inline-block;
    margin: 0 5px;
}
	.signup{
		position: relative;
		padding: 0px;
		width: 100%;
		height: 100%;

	}

	.signup .triple input{
		display: inline-block;
		    width: 20%;
		    margin: 0 10px;
	}
	.signup .triple input:first-child{
		margin-left: 0;
	}
#wrap.login	.form-group{
		margin-left: -15px;
		margint-right: -15px;
	}
	.form-group:after{
		display: block;
		content: "";
		clear: both;
	}
	#signUpModal .modal-dialog{
		margin-top: 20vh;
		width: 480px;
	}
	#findPass .modal-dialog{
		margin-top: 20vh;
		width: 480px;
	}
	

	
	
	<!-- 은비 추가 -->
	
	
	
	.hidden {
	display: hidden;
	}
	
	
	
	
	img {
		-webkit-filter: grayscale(0) blur(0);
		filter: grayscale(0) blur(0);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		margin-top: 20px; margin-bottom: 40px; 
	}
	.mypage img:hover {
		-webkit-filter: grayscale(50%) blur(2px);
		filter: grayscale(50%) blur(2px);
	}
	
		
	.modal .col-sm-9{
		position: relative; /* 추가하기 */
	}
	
	
	
	

	/* Check Icon */
	span.check-icon {
		border: solid #60c42b;
		border-top: 0;
		border-left: 0;
	 	display: none;  
		height: 15px;
		width: 7.5px;
		transform: rotate(45deg);
	}
	
	
	span.check-icon {
		position: absolute;
		top: 9px; /* 이 부분 알맞게 고치기 */
		right: 30px;
	}
	
	input.valid ~ span.check-icon {
		display: inline-block;
	}
	
	input.unvalid {
		background: #ffafb3;
	}
	
	
	
	input.valid ~ q {
		color: #ba2830;
		display: block;
	}

	
	

	
	
	
	
	
	